.list-partners {
    display: flex;
    gap: 30px;

}

.items-partners {

    width: 170px;
    height: 92px;
}

.link-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: var(--logo-color);

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color var(--transition-dur-fun), border-color var(--transition-dur-fun);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.company-logo {
    width: 106px;
    height: 60px;

    fill: currentColor;
}