.form-field {
    display: flex;
    flex-direction: column;
}

.form-input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border-color var(--transition-dur-fun);

    &:focus,
    &:hover {
        outline: none;
        border-color: var(--accent-color);
        cursor: pointer;
    }

    &:focus+.form-icons,
    &:hover+.form-icons {
        fill: var(--accent-color);
    }
}

.form-icons {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: fill var(--transition-dur-fun);
}

.input-feedback {
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: var(--primary-text-color);
    transition: border-color var(--transition-dur-fun);

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.form-button {
    padding: 10px 52px;
    margin-top: 30px;
}

.policy-label {
    display: flex;
    align-items: center;
    margin-left: 13px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--primary-text-color);
}

.contract {
    color: var(--accent-color);
}

.checked-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    fill: transparent;
    cursor: pointer;
    transition: border-color var(--transition-dur-fun0);
}

.input-checkbox {
    appearance: none;

    &:checked+.policy-label .checked-icon {
        fill: var(--accent-color);
        border: none;
    }

    &:focus+.policy-label .checked-icon {
        border: 1px solid var(--title-text-color);
        outline: #212121;
    }
}